<!-- 秒杀专栏-->
<div class="main_6_seckill">

    <div class="main_6_theme">

        <img class="theme_icon_01" src="../../images/yx_main_icon_3.png" >

        <div class="seckill_title">

            <div class="title_theme">
                <img src="../../images/yx_main_icon_4.png" >
                <span class="red">逛吃</span>逛吃
            </div>

        </div>

        <img class="theme_icon_02" src="../../images/yx_main_icon_2.png" >

    </div>

</div>

<script>



    //释放后跳转链接
    jdShopSecKill.viewMore();




</script>