
<div class="homepage_notice_board jdshop_alignment_center">

    <div class="notice_title ">

        <div class="yx_main_title">
        <img src="../../images/notice_yx_title.png">
        </div>

        <div class="notice_content">

            <div class="notice_list jdshop_alignment_left" id="viewMore">

                <a class="seckill_merchant" href="#">

                    <div class="seckill_image">
                        <img src="../../images/yx_main_icon_1.png">
                    </div>

                    <div>网易严选</div>
                </a>

                <a class="seckill_merchant" href="#">
                    <div class="seckill_image">
                        <img src="../../images/yx_main_icon.png">
                    </div>
                    <div>京东自营</div>
                </a>

                <a class="seckill_merchant" href="#">
                    <div class="seckill_image">
                        <img src="../../images/yx_main_icon_1.png">
                    </div>

                    <div>网易严选</div>
                </a>

                <a class="seckill_merchant" href="#">
                    <div class="seckill_image">
                        <img src="../../images/yx_main_icon.png">
                    </div>
                    <div>京东自营</div>
                </a>

                <a class="seckill_merchant" href="#">
                    <div class="seckill_image">
                        <img src="../../images/yx_main_icon_1.png">
                    </div>

                    <div>网易严选</div>
                </a>

                <a class="seckill_merchant" href="#">
                    <div class="seckill_image">
                        <img src="../../images/yx_main_icon.png">
                    </div>
                    <div>京东自营</div>
                </a>


            </div>

        </div>

    </div>

</div>


<script>

    //释放后跳转链接
    jdShopSecKill.viewMore();

</script>