<div class="homepage_follow_goods">

    <!-- block 1 -->
    <div class="follow_block">
        <!-- title -->
        <div class="org_icon"><img src=""></div>
        <div>女神范</div>
        <div class="subtitle_text">-618变美盛宴-</div>

        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">

            <a class="product_s" href="">
                <img src="../../images/img_loading.gif" class="loading_img"
                     data-src="../../images/product_b1_s.jpg"></a>

            <a class="product_s" href="">
                <img src="../../images/img_loading.gif" class="loading_img"
                     data-src="../../images/product_b1_l.jpg"></a>

        </div>

    </div>

    <!-- block 2-->
    <div class="follow_block">
        <!-- title -->
        <div class="red_icon"><img src=""></div>
        <div>六一儿童节</div>
        <div class="subtitle_text">-谁还不是个宝宝呢-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b2_s.jpg"></a>
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b2_l.jpg"></a>
        </div>
    </div>

    <!-- block 3-->
    <div class="follow_block">
        <!-- title -->
        <div class="special_icon">
            <img class="face" src="">
            <img class="back" src="">
        </div>
        <div>吃货心选</div>
        <div class="subtitle_text">-618吃货嗨起来-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b3_s.jpg"></a>
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b3_l.jpg"></a>
        </div>
    </div>

    <!-- block 4-->

    <div class="follow_block">

        <!-- title -->
        <div class="blue_icon"><img src=""></div>
        <div>上新</div>
        <div class="subtitle">-小米8来袭-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">

            <a class="product_s" href="../jdshop_product/product.html">
                <img src="../../images/img_loading.gif" class="loading_img"
                     data-src="../../images/product_b4_s.jpg"></a>

            </div>


    </div>
    <div class="follow_block">

        <!-- title -->
        <div class="blue_icon"><img src=""></div>
        <div>零食</div>
        <div class="subtitle">-办公室零食-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">

            <a class="product_s" href="../jdshop_product/product.html">
                <img src="../../images/img_loading.gif" class="loading_img"
                     data-src="../../images/product_b4_s.jpg"></a>

        </div>

    </div>


</div>

<div class="main_6_seckill">

    <div class="main_6_theme">

        <img class="theme_icon_01" src="../../images/yx_main_icon_6.png" >

        <div class="seckill_title_blue">

            <div class="title_theme">
                <img src="../../images/yx_main_icon_5.png" >
                <span class="blue">每日逛</span>
            </div>

        </div>

        <img class="theme_icon_02" src="../../images/yx_main_icon_7.png" >

    </div>

</div>

<div class="homepage_follow_goods">

    <!-- block 1 -->
    <div class="follow_block">
        <!-- title -->
        <div class="org_icon"><img src=""></div>
        <div>漂亮衣服</div>
        <div class="subtitle_text">-夏天到了，一起美美哒-</div>

        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">

            <a class="product_s" href="">
                <img src="../../images/img_loading.gif" class="loading_img"
                     data-src="../../images/product_b1_s.jpg"></a>

            <a class="product_s" href="">
                <img src="../../images/img_loading.gif" class="loading_img"
                     data-src="../../images/product_b1_l.jpg"></a>

        </div>

    </div>

    <!-- block 2-->
    <div class="follow_block">
        <!-- title -->
        <div class="red_icon"><img src=""></div>
        <div>商城精选</div>
        <div class="subtitle_text">-乐享好物-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b2_s.jpg"></a>
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b2_l.jpg"></a>
        </div>
    </div>

    <!-- block 3-->
    <div class="follow_block">
        <!-- title -->
        <div class="special_icon">
            <img class="face" src="">
            <img class="back" src="">
        </div>
        <div>新品首页</div>
        <div class="subtitle_text">-iphone9全国首发-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b3_s.jpg"></a>
            <a class="product_s" href="../jdshop_product/product.html"><img src="../../images/img_loading.gif" class="loading_img" data-src="../../images/product_b3_l.jpg"></a>
        </div>
    </div>

    <!-- block 4-->

    <div class="follow_block">

        <!-- title -->
        <div class="blue_icon"><img src=""></div>
        <div>上新</div>
        <div class="subtitle">-演绎经典-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">

            <a class="product_s" href="../jdshop_product/product.html">
                <img src="../../images/img_loading.gif" class="loading_img"
                     data-src="../../images/product_b4_s.jpg"></a>

        </div>


    </div>
    <div class="follow_block">

        <!-- title -->
        <div class="blue_icon"><img src=""></div>
        <div>降价好货</div>
        <div class="subtitle">-品牌直降-</div>
        <!-- product -->
        <div class="follow_product jdshop_alignment_bottom">

            <a class="product_s" href="../jdshop_product/product.html">
                <img src="../../images/img_loading.gif" class="loading_img"
                     data-src="../../images/product_b4_s.jpg"></a>

        </div>

    </div>


</div>
