<div class="product_category_page">
    <!-- 店铺推荐 标题-->
    <div class="recommended_title font_red">
         分类推荐<span></span>
    </div>
    <!--选择入口-->
    <div class="in_yx">
        <div class="yx_left">
            <img src="../../images/yx_Photo_1.jpg" >
            <span>网易严选</span>
        </div>
        <div class="yx_right">
            <img src="../../images/yx_Photo_2.jpg">
            <span>京东商城</span>
        </div>
    </div>

    <div class="recommended_title font_red">
        店铺推荐<span></span>
    </div>
        <!-- 正常分类 标题-->
    <!-- <div class="title font_dark_gary">店铺推荐<i></i></div>-->
    <div class="product_category_list">
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_1.jpg" src="../../images/photo_11.jpg" class="loading_img"></p>
            <p>手机</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/photo_12.jpg" class="loading_img"></p>
            <p>笔记本</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_3.jpg" src="../../images/photo_13.jpg" class="loading_img"></p>
            <p>空调</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_2.jpg" src="../../images/photo_14.jpg" class="loading_img"></p>
            <p>面</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/photo_15.jpg" class="loading_img"></p>
            <p>米</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/photo_16.jpg" class="loading_img"></p>
            <p>杂粮</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_1.jpg" src="../../images/photo_17.jpg" class="loading_img"></p>
            <p>食用油</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_4.jpg" src="../../images/photo_18.jpg" class="loading_img"></p>
            <p>床</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_3.jpg" src="../../images/photo_19.jpg" class="loading_img"></p>
            <p>方便速食</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/product_list_2.jpg" src="../../images/photo_20.jpg" class="loading_img"></p>
            <p>烘焙原料</p>
        </a>
        <a class="product_box">
            <p class="product_img"><img data-src="../../images/product_list_5.jpg" src="../../images/photo_21.jpg" class="loading_img"></p>
            <p>衣服清洁</p>
        </a>

    </div>
</div>

<script>

    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })
</script>