<div class="product_category_slide">
    <div >为你推荐</div>
    <div class="select_sort">休闲食品</div>
    <div>服饰内衣</div>
    <div>箱包手袋</div>
    <div>美妆个护</div>
    <div>钟表珠宝</div>
    <div>电脑办公</div>
    <div>家用电器</div>
    <div>食品生鲜</div>
    <div>酒水饮料</div>
    <div>母婴童装</div>
    <div>玩具乐器</div>
    <div>医药保健</div>
    <div>运动户外</div>
    <div>汽车用品</div>
    <div>家具家装</div>
    <div>家具厨具</div>
    <div>礼品</div>
    <div>其他</div>
</div>

<script>

    //滚动条事件
    jdCategoryPage.clickTSortChange();

    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })
</script>