<div class="product_category_slide">
    <div class="select_sort">为你推荐</div>
    <div>休闲食品</div>
    <div>服饰内衣</div>
    <div>箱包手袋</div>
    <div>美妆个护</div>
    <div>钟表珠宝</div>
    <div>电脑办公</div>
    <div>家用电器</div>
    <div>食品生鲜</div>
    <div>酒水饮料</div>
    <div>母婴童装</div>
    <div>玩具乐器</div>


<script>

    //滚动条事件
    jdCategoryPage.clickTSortChange();

</script>