<!--附件赠品-->
<div class="product_details_enclosure">

    <!--附件赠品-->
    <div class="product_details_enclosure">

        <!-- 附件 -->
        <div class="product_details_acc">
            <!-- 附件 title -->
            <div class="details_acc_title jdshop_alignment_center">
                <span class="acc_title">附件</span>
                <div class="acc_tips">注：因促销活动随时变化，以下单时为准。</div>
            </div>
            <!-- list 1-->
            <%- include('product_details_8_list_template.ejs',{
            'productName':'Kindle Paperwhite 全新升级版6英',
            'productTerm':'(购买2件及以上，赠完即止)',
            'number':'1',
            'price':'8888.00'
            })%>
            <!-- list 2-->
            <%- include('product_details_8_list_template.ejs',{
            'productName':'Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色',
            'productTerm':'(购买2件及以上，赠完即止)',
            'number':'1',
            'price':'8888.00'
            })%>
        </div>
        <!-- 赠品-->
        <div class="product_details_acc">
            <!-- 赠品 title-->
            <div class="details_acc_title  jdshop_alignment_center">
                <span class="gift_title">赠品</span>
                <div class="gift_tips">注：因促销活动随时变化，以下单时为准。</div>
            </div>
            <!-- list 1-->
            <%- include('product_details_8_list_template.ejs',{
            'productName':'Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色',
            'productTerm':'(购买2件及以上，赠完即止)',
            'number':'1',
            'price':'8888.00'
            })%>
            <!-- list 2-->
            <%- include('product_details_8_list_template.ejs',{
            'productName':'Kindle Paperwhite 全新升级版6英寸护眼非反光电子墨水触控显示屏 wifi 电子书阅读器 黑色',
            'productTerm':'(购买2件及以上，赠完即止)',
            'number':'1',
            'price':'8888.00'
            })%>
        </div>

        <!--自营店铺-->
        <div class="product_support_acc">

        <div class="goods_support">
            <img data-src="../../images/yx_main_icon_8.png"
                 src="../../images/yx_main_icon_8.png"
                 class="loading_img">
        </div>

            <!--网易严选icon-->
            <!--<div class="goods_support">
                <img data-src="../../images/yx_main_icon_9.png"
                     src="../../images/yx_main_icon_9.png"
                     class="loading_img">
            </div>-->


        <div class="support_acc_text">

            <div class="acc_text_1">
                <div>京东自营</div>
                <span>全部商品【456265】</span>
            </div>

            <a href=""class="acc_text">
                进店逛逛 >
            </a>


        </div>








    </div>

    </div>

</div>