<!--利益点-->
<div class="product_details_advantage jdshop_alignment_center">
    <!-- 售后 -->
    <div><span></span>京东发货&售后</div>
    <!-- 免运费 -->
    <div><span></span>满99元包邮，无续重运费</div>

    <!-- 七天无理由 -->
    <div class="sale_problem"><span></span>7天无理由退货</div>

    <!-- 七天无理由 -->
    <!--<div class="nonsupport_sale_problem"><p></p>不支持7天无理由</div>-->

</div>