<div class="product_category_page">
    <!-- 店铺推荐 标题-->
    <div class="recommended_title font_red">
        休闲零食<span></span><p class="look_all" href="#">查看全部<img src="../../icon/icon_jiafu_classificationy.png"></p>
    </div>

    <div class="product_category_list">
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_1.jpg" src="../../images/yx_class_1.jpg" class="loading_img"></p>
            <p>休闲零食</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_2.jpg" src="../../images/yx_class_2.jpg" class="loading_img"></p>
            <p>坚果炒货</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_3.jpg" src="../../images/yx_class_3.jpg" class="loading_img"></p>
            <p>肉干肉铺</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_4.jpg" src="../../images/yx_class_4.jpg" class="loading_img"></p>
            <p>蜜饯果干</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_5.jpg" src="../../images/yx_class_5.jpg" class="loading_img"></p>
            <p>糖果/巧克力</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_6.jpg" src="../../images/yx_class_6.jpg" class="loading_img"></p>
            <p>饼干蛋糕</p>
        </a>
    </div>

    <div class="recommended_title font_red">
      鸡蛋生鲜 <span></span><p class="look_all" href="#">查看全部<img src="../../icon/icon_jiafu_classificationy.png"></p>
    </div>
    <!-- 正常分类 标题-->
    <!-- <div class="title font_dark_gary">店铺推荐<i></i></div>-->
    <div class="product_category_list">
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_7.jpg" src="../../images/yx_class_7.jpg" class="loading_img"></p>
            <p>蛋类</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_8.jpg" src="../../images/yx_class_8.jpg" class="loading_img"></p>
            <p>冷冻食品</p>
        </a>

    </div>


    <div class="recommended_title font_red">
        粮油调味<span></span><p class="look_all" href="#">查看全部<img src="../../icon/icon_jiafu_classificationy.png"></p>
    </div>
    <!-- 正常分类 标题-->
    <!-- <div class="title font_dark_gary">店铺推荐<i></i></div>-->
    <div class="product_category_list">
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_9.jpg" src="../../images/yx_class_9.jpg" class="loading_img"></p>
            <p>面</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_10.jpg" src="../../images/yx_class_10.jpg" class="loading_img"></p>
            <p>米</p>
        </a>
        <a class="product_box" href="../jdshop_search/search_results.html">
            <p class="product_img"><img data-src="../../images/yx_class_11.jpg" src="../../images/yx_class_11.jpg" class="loading_img"></p>
            <p>杂粮</p>
        </a>
    </div>



</div>



<script>

    /*图片懒加载*/
    jfLazyLoading.lazyLoadInit({

        "bottomDistance":"50"//距离底部的距离，触发事件，单位省略
    })
</script>